@charset "UTF-8";
.link-join, .subscribe-form, .main-nav, .nav-info, .icon-division, .link-network, .policy-div, .policy-label {
  display: flex;
  align-items: center;
}

body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin-top: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-right: 93px;
  color: #2196F3;
  font-family: Raleway,cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-up {
  color: #212121;
}

.logo-down {
  color: #FFFFFF;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo:focus {
  color: #FFFFFF;
}

.footer .logo {
  margin-bottom: 20px;
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list-join {
  display: flex;
  justify-content: center;
}

.item-join {
  width: 44px;
  height: 44px;
}

.item-join:not(:last-child) {
  margin-right: 10px;
}

.link-join {
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #FFFFFF;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-join:hover, .link-join:focus {
  background-color: #2196F3;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribe-input {
  display: inline-block;
  width: 358px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: #2196F3;
  min-width: 200px;
  padding: 10px 0 10px 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.icon-subscribe {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-blank {
  display: block;
  min-width: 200px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #FFFFFF;
  cursor: pointer;
}

.button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.header-index {
  border-bottom: 0;
}

.main-nav {
  text-align: left;
  justify-content: space-between;
}

.site-nav,
header .site-contact {
  display: flex;
}

.site-nav .item + .item,
.site-contact .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.site-contact a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color: #2196F3;
}

.site-nav .link.current {
  color: #2196F3;
}

.current::after {
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  position: absolute;
  border-radius: 2px;
}

.current {
  position: relative;
}

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
  display: inline-block;
}

.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
  display: inline-block;
}

.site-contact a {
  color: #757575;
}

.site-contact :hover,
.site-contact :focus {
  color: #2196F3;
}

.main-hero {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  text-align: center;
}

.container.hero-section {
  padding: 200px 252px;
  text-align: center;
}

.container-hero {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 700px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: #2196F3;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

/*==SVG Наши качества==*/
.icon-division {
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  justify-content: center;
  width: 270px;
  height: 120px;
}

.features-list .feature-item + .feature-item {
  margin-left: 30px;
}

.feature-item {
  min-width: 270px;
}

.we-doing {
  padding-bottom: 94px;
}

.we-doing-list {
  display: flex;
}

.we-doing .item + .item {
  margin-left: 30px;
}

.we-doing-list .item {
  width: 370px;
}

.section-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-subject {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.images-text {
  margin-bottom: 0;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  position: relative;
}

.text-description {
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  width: 270px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.section-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.text-title {
  margin-bottom: 0;
}

.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.list-network {
  display: flex;
  justify-content: center;
}

.item-network {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.item-network:not(:last-child) {
  margin-right: 10px;
}

.link-network {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-network:hover, .link-network:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.list-clients {
  display: flex;
  justify-content: center;
}

.section-subject {
  margin-bottom: 50px;
}

.item-clients {
  width: 170px;
  height: 90px;
}

.item-clients:not(:last-child) {
  margin-right: 30px;
}

.link-clients {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover, .link-clients:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients .container {
  padding: 94px 0px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.studio-adress {
  margin-right: 70px;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}

.map {
  margin-bottom: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
}

.site-contact-item:hover .site-contact,
.site-contact.down:focus {
  color: #2196F3;
}

.site-contact .down {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  padding: 0;
  display: inline-block;
}

.site-contact .site-contact-item + .site-contact-item {
  margin-top: 9px;
}

.modal-button {
  display: block;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  outline: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  padding: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*==FORM==*/
.form-blank {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.label-blank {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.blank-input {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 14px 0 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.relative-input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
}

.icon-blank {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
}

.text-area {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  font-size: 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  cursor: pointer;
}

.text-area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-div {
  margin-bottom: 30px;
}

.checkbox-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-label {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy-label::before {
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.policy-label::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-check.svg);
  background-color: #2196F3;
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  border: 2px solid #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  display: inline-block;
  margin-left: 2px;
  font-size: 14px;
  line-height: 1.71;
  color: #2196F3;
  text-decoration-line: underline;
}

.blank-input:hover,
.blank-input:focus,
.text-area:hover,
.text-area:focus {
  border-color: #2196F3;
}

.blank-input:hover + .icon-blank,
.blank-input:focus + .icon-blank {
  fill: #2196F3;
}

.policy-div .checkbox-policy:checked + .policy-label::after {
  opacity: 1;
  outline: 2px solid #FFFFFF;
}

.policy-div .checkbox-policy:focus + .policy-label::before {
  outline: 1px solid rgba(33, 33, 33, 0.5);
  border-radius: 2px;
}

.checkbox-policy:checked:focus + .policy-label::after {
  opacity: 1;
  outline: 2px solid #FFFFFF;
}

.section-up {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.work-filter .item + .item {
  margin-left: 8px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-elements {
  border: 1px solid #EEEEEE;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-elements:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-elements:nth-child(3n) {
  margin-right: 0;
}

.work-elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.work-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #757575;
}

.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-title-text {
  padding: 20px 24px;
}

.overlay-text {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.card-overlay {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.work-elements:hover .card-overlay,
.work-link:focus .card-overlay {
  transform: translateY(0);
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */