.features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list{
    display: flex;
}
/*==SVG Наши качества==*/
.icon-division{
    @extend %flex-centered;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    justify-content: center;

    width: 270px;
    height: 120px;
}
.features-list .feature-item+.feature-item{
    margin-left: 30px;
}
.feature-item{
    min-width: 270px;
}