.header-index{
    border-bottom: 0;
}
.main-nav{
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
   
   
}
.site-nav,
header .site-contact{
    display: flex; 

}
.site-nav .item+.item,
.site-contact .item+.item {
    margin-left: 50px;
}
.nav-info{
    display: flex;
    align-items: center;
}


.site-nav .link, 
.site-contact a{
    transition: color 250ms var(--cubic-animation);
    line-height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color); 
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav :hover,
.site-nav :focus{
    color:var(--accent-color)
}
.site-nav .link.current {
    color:var(--accent-color)
}
.current::after{
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;

}
.current{
    position: relative;
}
.icon-envelope{
    fill: currentColor;
     margin-right: 10px;
     display: inline-block;
 }
 .icon-smartphone{
     fill: currentColor;
     margin-right: 10px;
     display: inline-block;
 }
 
 
 .site-contact a {
     color:var(--primary-text-color);
 }
 .site-contact :hover,
 .site-contact :focus{
     color:var(--accent-color)
 }