.we-doing{
    padding-bottom: 94px;
}
.we-doing-list{
    display: flex;
}
.we-doing .item+.item{
    margin-left: 30px;
}
.we-doing-list .item{
    width: 370px;
}

.section-title{

    margin-bottom: 10px;
    color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-subject{
    margin-bottom: 50px;
    color: $title-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.images-text{
    margin-bottom: 0;
    color: $white-text-Color;
    line-height: 16px;
    text-align: center;
    font-weight:700;
    text-transform: uppercase;
}
.description{
    position: relative;
}
.text-description{
    background:  rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;

}