.button{
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: inherit;
    color: $title-color;
    background-color: $bg-team-color;
    cursor: pointer;

    transition: background-color $time $cubic-animation,
        color $time $cubic-animation,
        box-shadow $time $cubic-animation;

        &:hover, 
        &:focus{
            color: $white-text-Color;
            background-color: $akcent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                        0px 1px 2px rgba(0, 0, 0, 0.08), 
                        0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
}

