.button-blank{
    display: block;
    min-width: 200px;
    padding: 10px 55px;
    margin-left: auto;
    margin-right: auto;
    background: $akcent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: $white-text-Color;
    cursor: pointer;
}