.join-title{
    margin-bottom: 20px;
    font-weight: 700;
    color: $white-text-Color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}
.list-join{
    display: flex;
    justify-content: center;
}
.item-join{
    width: 44px;
    height: 44px;
}
.item-join:not(:last-child){
    margin-right: 10px;
}

.link-join{
    @extend %flex-centered;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: $white-text-Color;
    width: 100%;
    height: 100%;

    transition: background-color $time $cubic-animation;

        &:hover,
        &:focus{
        background-color: $akcent-color;
        }
}