.logo{
    margin-right: 93px;
    color: $akcent-color; 
    font-family: Raleway,cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-up{
    color: $title-color;
}
.logo-down{
    color: $white-text-Color;
}