.logo{
    margin-right: 93px;
    color:var(--accent-color); 
    font-family: Raleway,cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-up{
    color: var(--title-text-color);
}
.logo-down{
    color: var(--white-text-bg-color);
}